<div id="topbar">
	<div id="leftnav">
		<a href="index.html"><img alt="home" src="images/home.png" /></a>
	</div>
</div>

<div id="content">
	<%= form_for @user_session, :url => {:action => "create"} do |f| %>
		<span class="graytitle">Login</span>
		<ul class="pageitem">
			<li class="smallfield"><span class="name">Name</span><%= f.text_field :login, :placeholder=>"Username" %><br />
			<li class="smallfield"><span class="name">Password</span><%= f.password_field :password, :placeholder=>"Password" %><br />
			<li class="checkbox"><span class="name">Remember Me</span><%= f.check_box :remember_me %><br />
			<li class="button"><%= f.submit "Login" %></li>
		</ul>
		
		<ul class="pageitem">
			<li class="textbox"><%= f.error_messages %></li>
		</ul>
	<% end %>
</div>